/*
  PostgreSQL.org - Layout Styles
*/

/* Container Definitions */

/* Page Container */

#pgContainerWrap {
  text-align: center; /* Win IE5 */
}

#pgContainer {
  margin: 0em auto;
  width: 765px;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 10px;
  text-align: left; /* Win IE5 */
}


/* Header Container */
#pgHeaderContainer {
  padding-bottom: 2px;
}

#pgHeader {
  position: relative;
  background: url("http://babar.postgresql.fr/~guillaume/dotclear/themes/postgresql/img/hdr_fill.png") repeat-x;
  height: 80px;
  margin: 0;
  padding: 0;
  clear: both;
}

#pgHeaderLogoLeft {
  position: relative;
  width: 230px;
  height: 80px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  float: left;
}

#pgHeaderLogoLeft img { 
  border: 0px; 
}

#pgHeaderLogoRight {
  position: relative;
  width: 210px;
  height: 80px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  float: right;
}

#pgHeaderLogoRight img {
  border: 0px;
}

#pgSearch {
  position: relative;
  text-align: right;
  padding: 0;
  margin: 0;
  color: #666;
}

#pgSearch form {
  position: relative;
  top: 5px;
  right: 0;
  margin: 0; /* need for IE Mac */
  text-align: right; /* need for IE Mac */
  white-space: nowrap; /* for Opera */
}

#pgSearch form label { 
  color: #666; 
  font-size: 0.8em; 
}

#pgSearch form input { 
  font-size: 0.8em; 
}

#pgSearch form #submit {
  font-size: 0.8em;
  background: #FFFFFF;
  color: #000000;
  border-right: 1px solid #7A7A7A;
  border-bottom: 1px solid #7A7A7A;
  border-top: 1px solid #7A7A7A;
  border-left: 1px solid #7A7A7A;
  padding: 1px 4px;
}

#pgSearch form #q {
  font-size: 0.8em;
  width: 140px;
  border: 1px solid #7A7A7A;
  background: #FFFFFF;
  padding: 2px;
}

/* Content Container */
#pgContent {
  clear: both;
  display: block;
}

#pgFrontContainer {
  width: 100%;
  float: left;
  margin-right: -220px;
}

#pgFrontMain {
  margin-right: 220px;
  margin-top: 10px;
}

#pgFrontFeature {
  position: relative;
  background: #F5F5F5 url(http://babar.postgresql.fr/~guillaume/dotclear/themes/postgresql/img/feature_elephant.png) bottom right no-repeat; 
  padding: 15px;
  margin-bottom: 1em;
  font-size: 1.0em;
}

#pgFrontFeature:before {
  line-height: 0.1;
  font-size: 1px;
  background: transparent url("/layout/images/feature_tr.gif") no-repeat top right;
  margin: -15px -15px 0 -15px;
  height: 15px;
  display: block;
  border: none;
  content: url("/layout/images/feature_tl.gif");
}

#pgFrontFeature:after {
  display: block;
  clear: both;
  padding-top: 15px;
  line-height: 0.1;
  font-size: 1px;
  content:  url("/layout/images/feature_bl.gif");
  margin: -15px;
  height: 8px;
  background: transparent url("/layout/images/feature_br.gif") scroll no-repeat bottom right ;
}

#pgFrontFeature h2{
  border: none;
  margin-top: 0;
}

#pgFrontFeature p {
  margin: 0 0 1em 0;
}

#pgFrontFeature #pgFrontFeatureContent {
  padding: 6px 132px 16px 10px; 
}

#pgFrontNewsEventsContainer {
  float: right;
  width: 200px;
  border-left: 1px solid #E1E1E1;
  margin: 0;
  padding: 0;

  margin-top: 10px;
  padding-left: 10px;
}

#pgFrontNews {
}

#pgFrontEvents {
  margin-top: 15px;
}

.pgNewsEventsWrap {
  padding-left: 5px;
}

.pgNewsEventsList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.pgNewsEventsList img.pgRSSImage {
  display: inline;
  border: 0;
  vertical-align: bottom;
}

.pgNewsEventsList li {
  padding: 0 0.5em 0 0.5em;
  display: inline;
  border-right: 1px solid #E1E1E1;
}

.pgNewsEventsList li a {
}

/* Uncomment when IE/Validator supports last-child

.pgNewsEventsList li:last-child {
  border-right: 0;
  padding-right: 0;
}

*/

.pgNewsEventsList li.last-child {
  border-right: 0;
  padding-right: 0;
}

/* Used in pgNewsEventsList */
img.pgArrowImage {
  padding: 0;
  margin: 0;
  display: inline;
  border: 0;
}

#pgFrontUSSContainer {
}

/* Featured User Box */

div.pgFrontUser {
/*  width: 252px;*/
  width: 100%;
  padding-top: 7px;
  float: left;
  background: url(http://babar.postgresql.fr/~guillaume/dotclear/themes/postgresql/img/usr_tbl_top.png) top right no-repeat;
  background-size: auto;
  margin-bottom: 15px;
}
div.pgFrontCenterUser {
  width: 100%;
  padding-top: 7px;
  float: left;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
  /*margin-bottom: 15px;*/
  padding-bottom: 7px;
}
	    

div.pgFrontUserInner {
  background: url(http://babar.postgresql.fr/~guillaume/dotclear/themes/postgresql/img/images/usr_tbl_btm.png) bottom left no-repeat;
  width: 100%;
  padding-bottom: 7px;
}

div.pgFrontUserWrap {
  padding: 11px 14px 12px 15px;
  -moz-border-radius: 12px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;  
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
  margin-bottom: 7px;
  margin-top: 7px;
  margin-right: 15px;

}

div.pgFrontUserContent { 
  margin-left: 4px; 
}

#pgFrontSupportUs { 
  float: left;
  width: 25%;
  margin-left: 15px;
}

#pgFrontShortcuts { 
  float: right;
  width: 25%;
}

#pgFrontSupportUsWrap { 
  margin-left: 8px; 
  color: #666; 
}

#pgFrontShortcutsWrap { 
  font-size: 0.9em; 
  margin-left: 12px; 
  margin-top: 10px; 
  color: #666; 
}

#pgFrontShortcutsWrap img {
  padding-right: 7px;
}

#pgFrontShortcutsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

#pgFrontShortcutsList li {
  margin: 0;
  padding-left: 12px;
  background-image: url(http://babar.postgresql.fr/~guillaume/dotclear/themes/postgresql/img/images/blt_blu_arrow.png);
  background-repeat: no-repeat;
  background-position: 0px 0.5em;
}

/* Secondary Pages */

#pgSideWrap {
  float: left;
  width: 166px;
  margin-top: 10px;
  margin-right: -165px;
}

#pgContentWrap {
  margin-left: 165px;
  padding-top: 10px;
}

#pgSponsorWrap {
  width: 150px;
  background-color: #F5F5F5;
  background-image: url(http://babar.postgresql.fr/~guillaume/dotclear/themes/postgresql/img/images/nav_tbl_top.png);
  background-position: top right;
  background-repeat: no-repeat;
  font-size: 0.4em;
  margin-top: 10px;
}

#pgSponsorWrap ul {
  background-image: url(http://babar.postgresql.fr/~guillaume/dotclear/themes/postgresql/img/images/nav_tbl_btm.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  list-style: none;
  padding: 10px 0 10px 0;
  margin: 0;
}

#pgSponsorWrap ul li {
  margin: 0;
  padding-left: 12px;
}

#pgSponsorWrap ul li a {
  display: block;
  margin-top: 4px;
  margin-left: 4px;
}

#pgSponsorWrap li img {
  border: 0;
}

#pgAdminWrap {
  padding-top: 10px;
  padding-bottom: 10px;
}

#pgCommunityWrap {
  margin-right: -420px;
  float: left;
  width: 100%;
}

#pgCommunity {
  margin-right: 210px;
}

#pgSurveyWrap {
  float: right;
  width: 200px;
  margin-left: 210px;
  padding: 0;
  border: 0;
  top: 0px;

  padding-left: 10px;
}

#pgSurvey dl {
  width: 200px;
  margin: 0;
  padding: 0;
  background: #F5F5F5 url(/layout/images/box_bottom.gif) no-repeat bottom left;
  padding-bottom: 10px;
}

#pgSurvey dt {
  margin: 0 0 10px 0;
  padding: 10px;
  font-weight: bold;
  color: #666;
  border-bottom: 1px solid #EFEFEF;
  background: #F5F5F5 url(/layout/images/box_top.gif) no-repeat top left;
}
	
#pgSurvey dd {
  margin: 0 0 0 10px;
  padding: 0 10px 0 0;
  color: #666;
  font-size: 0.9em;
}

#pgSurvey form #surveySubmit {
  font-size: 0.9em;
  background: #F5F5F5;
  color: #000000;
  border-right: 1px solid #7A7A7A;
  border-bottom: 1px solid #7A7A7A;
  border-top: 1px solid #7A7A7A;
  border-left: 1px solid #7A7A7A;
  padding: 1px 4px;
}

#pgDocsWrap {
  margin-right: -420px;
  float: left;
  width: 100%;
}

#pgDocs {
  margin-right: 210px;
}

#pgQuickDocsWrap {
  float: right;
  width: 200px;
  margin-left: 210px;
  padding: 0;
  border: 0;
  top: 0px;

  padding-left: 10px;
}

#pgQuickDocs dl {
  width: 200px;
  margin: 0;
  padding: 0;
  background: #F5F5F5 url(/layout/images/box_bottom.gif) no-repeat bottom left;
  padding-bottom: 10px;
}

#pgQuickDocs dt {
  margin: 0 0 10px 0;
  padding: 10px;
  font-weight: bold;
  color: #666;
  border-bottom: 1px solid #EFEFEF;
  background: #F5F5F5 url(/layout/images/box_top.gif) no-repeat top left;
}
	
#pgQuickDocs dd {
  margin: 0 0 0 10px;
  padding: 0 10px 0 0;
  color: #666;
  font-size: 0.9em;
}

#pgDownloadsWrap {
  margin-right: -420px;
  float: left;
  width: 100%;
}

#pgDownloads {
  margin-right: 210px;
}

#pgQuickDownloadsWrap {
  float: right;
  width: 200px;
  margin-left: 210px;
  padding: 0;
  border: 0;
  top: 0px;

  padding-left: 10px;
}

#pgQuickDownloads dl {
  width: 200px;
  margin: 0;
  padding: 0;
  background: #F5F5F5 url(/layout/images/box_bottom.gif) no-repeat bottom left;
  padding-bottom: 10px;
}

#pgQuickDownloads dt {
  margin: 0 0 10px 0;
  padding: 10px;
  font-weight: bold;
  color: #666;
  border-bottom: 1px solid #EFEFEF;
  background: #F5F5F5 url(/layout/images/box_top.gif) no-repeat top left;
}
	
#pgQuickDownloads dd {
  margin: 0 0 0 10px;
  padding: 0 10px 0 0;
  color: #666;
  font-size: 0.9em;
}

#pgPressContacts dt {
  font-weight: bold;
}

#pgPressContacts dd {
  margin-bottom: 10px;
  
}

#pgArchiveWrap {
  margin-top: 13px;
}

/* Footer Container */
#pgFooter {
  font-size: 0.9em; 
  color: #666; 
  line-height: 14px; 
  padding-top: 5px;
  clear: both;
}

/* Misc Classes */

.pgClearBoth {
  clear: both;
  margin: 0;
  padding: 0;
}

.pgBlockHide {
	display: none;
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;  /* IE5 Mac */
}

img {
  border: 0;
}
