/*
  PostgreSQL.org - Table Styles
*/

div.tblBasic h2 {
  margin: 25px 0 .5em 0;
}

div.tblBasic {
  border: 2px solid #A7C6DF;
  margin-bottom: 4ex;
}

div.table-contents {
  margin-right: 2ex;
}

div.tblBasic table, div.table-contents table {
  margin-bottom: 15px;
  background-color: transparent;
}

div.tblBasic table
{
  margin: 0;
}

div.table-contents table {
  margin: 2ex 0 2ex 2ex;
  background-color: #E0ECEF;
  border: 2px solid #A7C6DF;
  border-collapse: collapse;
}

div.tblBasic table th, div.table-contents table th {
        padding-top: 20px;
        vertical-align: bottom;
}

div.tblBasic table td:hover {
  background-color: #EFEFEF;
}

div.table-contents table td,
div.table-contents table th
{
        border: 1px solid #A7C6DF;
}

div.tblBasic table th,
div.tblBasic table td,
div.table-contents table th,
div.table-contents table td {
        padding: 8px 11px;
        color: #555555;
}

div.tblBasic table th,
div.table-contents table th {
	vertical-align: middle;
}

div.table-contents table td {
  background-color: #FFF;
}

div.tblBasic table tr.lastrow td,
div.table-contents table tr.lastrow td {
        border-bottom: none;
        padding-bottom: 13px;
}

div.tblBasic table th.colLastC,
div.tblBasic table td.colFirstC,
div.tblBasic table td.colLastC {
        text-align: center;
}

div.tblBasic table th.colLastR,
div.tblBasic table td.colFirstR,
div.tblBasic table td.colLastR {
        text-align: right;
}

div.tblBasic table td.colFirstT,
div.tblBasic table td.colMidT,
div.tblBasic table td.colLastT {
        vertical-align: top;
}

div.tblBasic table th.colLastRT,
div.tblBasic table td.colFirstRT,
div.tblBasic table td.colLastRT {
        text-align: right;
        vertical-align: top;
}

