 <?
/*
 * This include opens the connection to the database
 * It requires the inclusion of "dbConnection.class.php"
 */

$db = new DBConnection('sql.tf-data.net','pgsql_fr','pgsql_fr','rf_lqsgp');
?>
