body{
  font-family: sans serif;
  font-size: 12pt;
  line-height: 100%;
  margin: 8px;
  background-color: #ffffff;
}

h1{
  margin: 0;
  font-size: 18pt;
  padding-top:4px;
  padding-bottom: 10px;
}

.header{
  min-width: 782px;
  margin: 0;
  height: 108px;
  background: url('images/header-background.png') top left repeat-x;
  overflow: hidden;
}

.header .left{
  margin-left: 0;
  float: left;
  background: url('images/header-left.png') top left;
  background-repeat: no-repeat;
  height: 108px;
}

.header .right{
  float: right;
  background: url('images/header-right.png') top right;
  width: 206px;
  height: 108px;
  overflow: hidden;
}

.header .menu{
  position: relative;
  left: 330px;
  top: 86px;
  margin: 0;
  padding: 0;
  height: 20px;
}

.header .menu a{
  color: #ffffff;
  text-decoration: none;
  font-size: 14pt;
  font-weight: bold;
  padding-right: 10px;
}

.header .menu a:hover{
  color: #cccccc;
}

.header .menu a:visited{
  color: #ffffff;
}

.content{
  width: 100%;
}

.col1{
  float: left;
  width: 59%;
}

.col2{
  float: right;
  width: 39%;
}

.intro-header{
  width: 100%;
  height: 28px;
  background: url('images/intro-header-bg.png') top left repeat-x;
  overflow: hidden;
  margin-top: 10px;
  float: right;
}

.intro-header .left{
  background: url('images/intro-header-left.png') top left no-repeat;
  width: 4%;
  height: 28px;
  float: left;
}

.intro-header .right{
  width: 96%;
  height: 28px;
  float: right;
  background: url('images/intro-header-right.png') top right no-repeat;
  overflow: hidden;
  padding-top: 7px;
}

.intro-header .right a{
  color: #cccccc;
  text-decoration: none;
  font-size: 14pt;
  font-weight: bold;
}

.intro-header .right a:hover{
  color: #aaaacc;
  text-decoration: none;
  font-size: 14pt;
  font-weight: bold;
}

.intro-header .right a:visited{
  color: #cccccc;
}

.intro-header input{
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #182F73;
  margin-right: 12px;
}

.intro-header select{
  margin-top: -1px;
}

.intro-body{
  margin: 2px;
  background-color: #f6f6f6;
  margin-right: 4px;
  float: right;
}

.intro-body .top{
  background: url('images/intro-body-top-mid.png') top left repeat-x;
  height: 11px;
  width: 100%;
  overflow: hidden;
  float: right;
}

.intro-body .top-left, .intro-body .bottom-left{
  height: 11px;
  width: 10px;
  float: left;
}

.intro-body .top-right, .intro-body .bottom-right{
  height: 11px;
  width: 10px;
  float: right;
}

.intro-body .top-left{
  background: url('images/intro-body-top-left.png') top left no-repeat;
}
.intro-body .top-right{
  background: url('images/intro-body-top-right.png') top right no-repeat;
}

.intro-body .bottom{
  background: url('images/intro-body-bottom-mid.png') top left repeat-x;
  height: 11px;
  width: 100%;
  overflow: hidden;
  float: right;
}

.intro-body .bottom-left{
  background: url('images/intro-body-bottom-left.png') top left no-repeat;
}
.intro-body .bottom-right{
  background: url('images/intro-body-bottom-right.png') top right no-repeat;
}

.intro-body .text,.intro-body .text-intro{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.text-intro p, .text p{
  margin-top: 0;
  padding-top: 5px;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.intro-body .text-intro{
  background: url('images/slon-slonik.png') bottom right no-repeat;
  min-height: 200px;
  padding-right: 205px;
}

.intro-body .text a, .intro-body .text-intro a{
  color: #0D1DDF;
  text-decoration: none;
}

.intro-body .text a:hover, .intro-body .text-intro a:hover{
  color: #183074;
  text-decoration: underline;
}

.intro-body .text a:visited, .intro-body .text-intro a:visited{
  color: #0D1DDF;
  text-decoration: none;
}

.text pre{
  font-size:80%;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  display: block;
  overflow: auto;
}

.copyright{
  width: 98%;
  height: 40px;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  margin-right: 2%;
}

.copyright a{
  font-size: 12pt;
  color: #ffffff;
  font-weight: normal;
}

.copyright a:visited{
  color: #ffffff;
}

.news-stamp{
  text-align: right;
  height: 20px;
  font-size: 80%;
}
