/* PostgreSQL.org Documentation Style */
/* Modifié par Christophe Chauvet */
/* Mis à jour par Guillaume Lelarge*/
/* PostgreSQLFr.org */

/* Heading Definitions */

h1 {
  font-weight: bold; 
  font-size: 1.4em;
}

h2 {
  font-weight: bold;
  font-size: 1.2em;
}

h3 { 
  font-weight: bold; 
  font-size: 1.1em;
}

/* TOC */

li.preface, li.part, li.chapter {
  list-style-type:none;
  list-style-image:none;
}

li.preface h4, li.chapter h4 {
  line-height: 0.5em;
}

li.part h3 {
  line-height: 0.5em;
}

/* Text Styles */

p {
  line-height: 1.5em;
}

li {
  display: list-item;
  list-style-image:url("puce.png");
}

p {
  text-align: justify;
}

/* Link Styles */

a:link                          { color:#0066A2; text-decoration: underline; }
a:visited                       { color:#0066A2; text-decoration: underline; }
a:active                        { color:#0066A2; text-decoration: underline; }
a:hover                         { color:#000000; text-decoration: underline; }

.programlisting p,pre {
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin-left: 10px;
	margin-right: 0px;
	width: 95%; 
	border-left: 5px gray solid;
	border-right: 5px gray solid;
}

div.note {
	border-left: 5px solid #FFFF99;
	padding-left: 2px;
	background-color:	#FFFFF0;
}

div.note div.admonhead img {
  float: left;
  padding-right: 5px;
}

div.note div.admonhead h3 {
	padding-top: 2px;
}

div.tip {
	border-left: 5px solid #99FFFF;
	padding-left: 2px;
	background-color:	#FFFFF0;
}

div.tip div.admonhead img {
  float: left;
  padding-right: 5px;
}

div.tip div.admonhead h3 {
	padding-top: 2px;
}

div.warning {
	border-left: 5px solid #DF421E;
	padding-left: 5px;
	background-color:	#FFFFF0;
}

div.warning div.admonhead img {
  float: left;
  padding-right: 5px;
}

div.warning div.admonhead h3 {
	padding-top: 2px;
}

/* 
 * Suppression des balises HR en affichage 
 */
hr {
	border: 0px;
	height: 0;     /* pour IE */
	display: none; /* pour opera */
}

/*
 * Mise en page des tableaux
 */
.table table {
 	border-style: solid; 
	border-width: 2px; 
	border-color: black;
	border-collapse: collapse;
	width: 100%
}

.table thead {
	background-color:#D0E3FA;
	
}

.table td {
	padding: 3px;
	border-style: solid; 
	border-width: 1px; 
	border-color: black;
}

TT.TYPE {
	color: #008FBE;
	font-weight: bold;
/*	font-family: sans-serif; */
	font-size: 100%;
}

.table TT.TYPE {
	color: #000000;
	font-weight: normal;
}

TT.COMMAND {
/*	color: #04D736; */
	font-weight: bold;
	font-family: sans-serif;
	font-size: 85%;
}

.table TT.REPLACEABLE {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 85%;
}

div.headertitles h4 {
  margin-bottom: 2px;
  text-align: center;
}

div.headertitles h3 {
  margin-top: 2px;
  text-align: center;
}

/* En-tête de navigation */
div.navheader {
	display: none;
}

/* Bas de page de navigation */
div.navfooter {
	display: none;
}
