/* PostgreSQL.org Documentation Style */
/* Modifié par Christophe Chauvet */
/* Mis à jour par Guillaume Lelarge*/
/* PostgreSQLFr.org */

body {
  font-size: 93%;
  width: 90%;
  margin: 0 auto;
  margin-top : 100px;
  /* Ajout de 09/04/2006 */
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(coin.png);
}

/* Heading Definitions */

h1 {
  font-weight: bold; 
  color: #EC5800; 
  font-size: 1.4em;
}

h2 {
  font-weight: bold;
  color: #EC5800; 
  font-size: 1.2em;
}

h3 { 
  font-weight: bold; 
  color: #EC5800;
  font-size: 1.1em;
}

/* TOC */

li.preface, li.part, li.chapter {
  list-style-type:none;
  list-style-image:none;
}

li.preface h4, li.chapter h4 {
  line-height: 0.5em;
}

li.part h3 {
  line-height: 0.5em;
}

/* Text Styles */

p {
  line-height: 1.5em;
}

li {
  display: list-item;
  list-style-image:url("puce.png");
}

p {
  text-align: justify;
}

/* Link Styles */

a:link                          { color:#0066A2; text-decoration: underline; }
a:visited                       { color:#0066A2; text-decoration: underline; }
a:active                        { color:#0066A2; text-decoration: underline; }
a:hover                         { color:#000000; text-decoration: underline; }

.programlisting p,pre {
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin-left: 0px;
	margin-right: 0px;
	/* border: 1px solid #7A7A7A; */
	width: 95%; 
	background: #AEDEEE;
	/* url(code.png) no-repeat 0 0; */
}

/* Gestion des notes */
div.note {
	border-left: 10px solid #FFFF99;
	padding-left: 5px;
	background-color:	#FFFFF0;
}

div.note div.admonhead img {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

div.note div.admonhead h3 {
	padding-top: 2px;
}

div.note div.admonbody {
	padding-left: 1em;
	padding-right: 1em;
}

/* Gestion des astuces */
div.tip {
	border-left: 10px solid #99FFFF;
	padding-left: 5px;
	background-color:	#FFFFF0;
}

div.tip div.admonhead img {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

div.tip div.admonhead h3 {
	padding-top: 2px;
}

div.tip div.admonbody {
	padding-left: 1em;
	padding-right: 1em;
}

/* Gestion des Avertissement */
div.warning {
	border-left: 10px solid #DF421E;
	padding-left: 5px;
	background-color:	#FFF0F0;
}

div.warning div.admonhead img {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

div.warning div.admonhead h3 {
	padding-top: 2px;
}

div.warning div.admonbody {
	padding-left: 1em;
	padding-right: 1em;
}

/* Affichage important */
div.important {
	border-left: 10px solid #DF421E;
	padding-left: 5px;
	background-color:	#FFF0F0;
}

div.important div.admonhead img {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

div.important div.admonhead h3 {
	padding-top: 2px;
}

div.important div.admonbody {
	padding-left: 1em;
	padding-right: 1em;
}

/* Affichage caution */
div.caution {
	border-left: 10px solid #FAC85C;
	padding-left: 5px;
	background-color:	#FCE8BC;
}

div.caution div.admonhead img {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

div.caution div.admonhead h3 {
	padding-top: 2px;
}

div.caution div.admonbody {
	padding-left: 1em;
	padding-right: 1em;
}

/* 
 * Suppression des balises HR en affichage 
 */
hr {
	border: 0px;
	height: 0;     /* pour IE */
	display: none; /* pour opera */
}

/*
 * Mise en page des tableaux
 */
.table table {
 	border-style: solid; 
	border-width: 2px; 
	border-color: black;
	border-collapse: collapse;
	width: 100%
}

.table thead {
	background-color:#D0E3FA;
	
}

.table td {
	padding: 3px;
	border-style: solid; 
	border-width: 1px; 
	border-color: black;
}

TT.TYPE {
	color: #008FBE;
	font-weight: bold;
/*	font-family: sans-serif; */
	font-size: 100%;
}

.table TT.TYPE {
	color: #000000;
	font-weight: normal;
}

TT.COMMAND {
/*	color: #04D736; */
	font-weight: bold;
	font-family: sans-serif;
	font-size: 85%;
}

.table TT.REPLACEABLE {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 85%;
}

div.headertitles h4 {
  margin-bottom: 2px;
  text-align: center;
}

div.headertitles h3 {
  margin-top: 2px;
  text-align: center;
}

/* En-tête de navigation */
.navheader {
	display: none;
}

/* Bas de page de navigation */
div.navfooter {
  border-bottom: 1px solid #dbddec;
}

div.navfooter ul {
  margin-left: 0px;
  margin-right: 2px;
  position: relative;
}

div.navfooter ul li {
  display: inline;
  width: 40%; 
}

div.navfooter ul li.prev {
  position: absolute;
  display: block;
  left: 0;
  text-align: left;
  margin-left: 6px;
}

div.navfooter ul li.next {
  position: absolute;
  display: block;
  text-align: right;
  right: 5px;
  margin-right: 7px;
}

div.navfooter ul li.prev p {
  padding: 0px;
  margin: 1px 0px;
  text-align: left;
}

div.navfooter ul li.next p {
  padding: 0px;
  margin: 1px 0px;
  text-align: right;
}

div.navfooter ul li.home, div.navfooter ul li.up {
  text-align: center;
  padding: 0;
  margin: 0px auto;
  display: block;
  color: #DBDDEC; 
}

.navfooter {
  border: solid #008FBE; /* grey solid 1px; */
  color: #FFFFFF;
  background: #008FBE; /* #94d3e8; */
  padding: 0px;
  padding-left: 1em;
  padding-right: 1em;
  font-family: sans-serif;
  font-size: 85%;
}


html>body .navfooter {
  position: fixed;
}

.navfooter {
  position: absolute;
  top: 0px;
  left: 25px;
  right: 0px;
  z-index: 2;
}

.navfooter a:link     { color:#FFFFFF; text-decoration: underline; }
.navfooter a:visited  { color:#FFFFFF; text-decoration: underline; }
.navfooter a:active   { color:#FFFFFF; text-decoration: underline; }
.navfooter a:hover    { color:#FFFFFF; text-decoration: underline; }

/* 
 * Modification pour gérer le navfooter autrement 
 * gestion avec une balise TABLE plutôt que UL LI
 */
.navfooter table {
	width: 100%;
	border: 0px solid #6495ed;
	/* border-bottom: 1px solid #000000; */
	height: 30px;
	color: #FFFFFF;
}

.navfooter img {
	border: 0px;
	vertical-align: middle;
}

.navfooter table td.left{
	float: left;
	vertical-align: middle;
	width: auto;
}

.navfooter table td.left img{
	padding-right: 5px;
}

.navfooter table td.right{
	float: right;
	vertical-align: middle;
	width: auto;
}

.navfooter table td.right img{
	padding-left: 5px;
}

.navfooter table td.center{
	float: absolute;
	width: 20%;
}