/* PostgreSQL.org Documentation Style */
/* Modifié par Christophe Chauvet */
/* Mis à jour par Guillaume Lelarge*/
/* PostgreSQLFr.org */

body {
  font-size: 93%;
  width: 90%;
  margin: 0 auto;
  margin-top : 50px;
  /* Ajout de 09/04/2006 */
  color: black;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(coin.png);
}

/* Heading Definitions */

h1 {
  font-weight: bold; 
  color: #EC5800; 
  font-size: 1.4em;
}

h2 {
  font-weight: bold;
  color: #EC5800; 
  font-size: 1.2em;
}

h3 { 
  font-weight: bold; 
  color: #EC5800;
  font-size: 1.1em;
}

/* TOC */

li.preface, li.part, li.chapter {
  list-style-type:none;
  list-style-image:none;
}

li.preface h4, li.chapter h4 {
  line-height: 0.5em;
}

li.part h3 {
  line-height: 0.5em;
}

/* Text Styles */

p {
  line-height: 1.5em;
}

li {
  display: list-item;
  list-style-image:url("puce.png");
}

p {
  text-align: justify;
}

/* Link Styles */

a:link                          { color:#0066A2; text-decoration: underline; }
a:visited                       { color:#0066A2; text-decoration: underline; }
a:active                        { color:#0066A2; text-decoration: underline; }
a:hover                         { color:#000000; text-decoration: underline; }
/*
.programlisting p,pre {
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin-left: 0px;
	margin-right: 0px;
	width: 95%; 
	background: #AEDEEE;
}
*/
pre.screen, pre.userinput, pre.programlisting, pre.synopsis {
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin-left: 0px;
	margin-right: 0px;
	width: 95%; 
	background: #AEDEEE;
}

span.productname {
  color: #0169C9;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 90%;
}

/* 
 * Partie commune au
 * - Note.
 * - Actuces.
 * - Attention.
 * - Avertissment.
 * - Important.
 */ 
 
div.admonbody span.quote {
	color: #FD3301;
}

div.admonbody span.token {
	font-weight: bold;
	color: #816647;
}

div.admonbody tt.literal {
	font-weight: bold;
	color: #013397;
}

/* 
 * Gestion des notes 
 */
div.note {
	border-left: 10px solid #FFFF99;
	padding-left: 5px;
	background-color:	#FFFFF0;
}

div.note div.admonhead img {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

div.note div.admonhead h3 {
	padding-top: 2px;
}

div.note div.admonbody {
	padding-left: 1em;
	padding-right: 1em;
}

div.note div.admonbody span.type {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 90%;
}

div.note div.admonbody span.type {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 90%;
}

div.note div.admonbody tt.function {
	font-style: italic;
	color: #339900;
}

/* 
 * Gestion des astuces 
 */
div.tip {
	border-left: 10px solid #77FFFF;
	padding-left: 5px;
	background-color:	#E3FFFD; /* #FFFFF0; */
}

div.tip div.admonhead img {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

div.tip div.admonhead h3 {
	padding-top: 2px;
}

div.tip div.admonbody {
	padding-left: 1em;
	padding-right: 1em;
}

div.tip div.admonbody span.type {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 90%;
}

div.tip div.admonbody tt.function {
	font-style: italic;
	color: #339900;
}

/* 
 * Gestion des Avertissement 
 */
div.warning {
	border-left: 10px solid #DF421E;
	padding-left: 5px;
	background-color:	#FFF0F0;
}

div.warning div.admonhead img {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

div.warning div.admonhead h3 {
	padding-top: 2px;
}

div.warning div.admonbody {
	padding-left: 1em;
	padding-right: 1em;
}

div.warning div.admonbody span.type {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 90%;
}

div.warning div.admonbody tt.function {
	font-style: italic;
	color: #339900;
}

/* 
 * Affichage important 
 */
div.important {
	border-left: 10px solid #DF421E;
	padding-left: 5px;
	background-color:	#FFF0F0;
}

div.important div.admonhead img {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

div.important div.admonhead h3 {
	padding-top: 2px;
}

div.important div.admonbody {
	padding-left: 1em;
	padding-right: 1em;
}

div.important div.admonbody span.type {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 90%;
}

div.important div.admonbody tt.function {
	font-style: italic;
	color: #339900;
}

/* 
 * Affichage caution 
 */
div.caution {
	border-left: 10px solid #FAC85C;
	padding-left: 5px;
	background-color:	#FCE8BC;
}

div.caution div.admonhead img {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

div.caution div.admonhead h3 {
	padding-top: 2px;
}

div.caution div.admonbody {
	padding-left: 1em;
	padding-right: 1em;
}

div.caution div.admonbody span.type {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 90%;
}

div.caution div.admonbody tt.function {
	font-style: italic;
	color: #339900;
}

/* 
 * Suppression des balises HR en affichage 
 */
hr {
	border: 0px;
	height: 0;     /* pour IE */
	display: none; /* pour opera */
}

/*
 * Mise en page des tableaux
 */
div.table table {
 	border-style: solid; 
	border-width: 2px; 
	border-color: black;
	border-collapse: collapse;
	width: 100%
}

div.table table thead {
	background-color:#D0E3FA;
}

div.table table td {
	padding: 3px;
	border-style: solid; 
	border-width: 1px; 
	border-color: black;
}

div.table table td span.type {
	color: #000000;
	font-weight: normal;
	font-size: 100%;
}


TT.COMMAND {
/*	color: #04D736; */
	font-weight: bold;
	font-family: sans-serif;
	font-size: 85%;
}

div.table table td span.type em.replaceable {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 95%;
}

div.table table td tt.varname {
	font-weight: bold;
}

div.table table td tt.literal {
	font-weight: bold;
	color: green;
}

/* 
 * En-tête de navigation 
 * Non affichée car moins comlète de celle du bas de page
 */
div.navheader {
	display: none;
}

/*
div.headertitles h4 {
  margin-bottom: 2px;
  text-align: center;
}

div.headertitles h3 {
  margin-top: 2px;
  text-align: center;
}
*/

/* 
 * Bas de page de navigation 
 * Positionnée en haut et figée.
 */

div.navfooter {
	position: fixed;
	top: 0px;
  left: 25px;
  right: 0px;
  border: solid #008FBE; 
  color: #FFFFFF;
  background: #008FBE; 
  padding: 0px;
  padding-left: 1em;
  padding-right: 1em;
  font-family: sans-serif;
  font-size: 85%;
  z-index: 2;
}

div.navfooter a:link     { color:#FFFFFF; text-decoration: none;}
div.navfooter a:visited  { color:#FFFFFF; text-decoration: none;}
div.navfooter a:active   { color:#FFFFFF; text-decoration: none;}
div.navfooter a:hover    { color:#FFFFFF; text-decoration: none;}


/* 
 * Modification pour gérer le navfooter autrement 
 * gestion avec une balise TABLE plutôt que UL LI
 */
div.navfooter table {
	width: 100%;
	border: 0px solid #6495ed;
	border-collapse: collapse;
	/* margin:auto; */
	height: 30px;
	color: #FFFFFF;
}

div.navfooter img {
	border: 0px;
	vertical-align: middle;
}

div.navfooter table td.left{
	text-align: left;
	vertical-align: middle;
	width: 47%;
	font-size: 92%;
}

div.navfooter table td.left img{
	padding-right: 5px;
	width: 24px;
	height: 24px;	
}

div.navfooter table td.right{
	text-align: right;
	vertical-align: middle;
	width: 47%;
	font-size: 92%;
}

div.navfooter table td.right img{
	padding-left: 5px;
	width: 24px;
	height: 24px;
}

div.navfooter table td.center{
	vertical-align: top;
	width: 6%;
}