p, li, li p { 
    text-align: justify; 
}

div.item-list li, div.pgSideNav, li.pgSideNav .pgSideNav li {
    text-align:left;
}

.form-text {
     font-size: 0.8em;
      width: 140px;
      border: 1px solid #7A7A7A;
      background: #FFFFFF;
      padding: 2px;
 }

.form-password{
     font-size: 0.8em;
      width: 140px;
      border: 1px solid #7A7A7A;
      background: #FFFFFF;
      padding: 2px;
 }

textarea,select,input,.form-radio{
      font-size: 1.0em;
      /*width: 140px;*/
      border: 1px solid #7A7A7A;
      background: #FFFFFF;
      padding: 2px;

 }

.form-submit{
      font-size: 0.8em;
      width: 140px;
      border: 1px solid #7A7A7A;
      background: #dddddd;
      padding: 2px;

 }

hr{
        color: #DADADA;
        size: 1px;
}

.plop{
    color: #FF0000;
}

h1.plop a:link{
        color: #EC5800;
        text-decoration: none;
        text-align: left;
}

h1.plop a:hover{
        color: #EC5800;
        text-decoration: underline;
    }

div.contentsLink{
    text-align: right;
}
/*Win IE fix \*/
* html #pgTopNav { height: 1%; margin-top: 0px; }
* html .pgTopNav { height: 1%; margin-top: 0px; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgTopNavLeft { height: 1%; }
* html .pgTopNavLeft { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgTopNavRight { height: 1%; }
* html .pgTopNavRight { height: 1%; }


/*End Win IE fix*/

/*Win IE fix \*/
* html #pgTopNavList { height: 1%; margin-bottom: -2px; }
* html #pgTopNavList li { margin: 0 0.5em 0 -0.5em; }
* html .pgTopNavList { height: 1%; margin-bottom: -2px; }
* html .pgTopNavList li { margin: 0 0.5em 0 -0.5em; }
/* specifique à drupal */
li.leaf{
	list-style-type: none;
}
li.collapsed, li.expanded{
	list-style-type: none;
}
