/**
 * Création originale de Sébastien Lardière
 * modification de Christophe Chauvet
 * dernières modifications de Guillaume Lelarge
 */

body {
     margin: 0;
}

h1 {
  font-size: 16px;
  color: white;
  background : url("../img/centre.png") repeat-x;
  padding : 2px 4px;
  -moz-border-radius: 10px;
}

div, li, input, button, select {
  font-size: 12px;
}

div#docs div#basdepage {
    background-color : rgb(0, 155, 206);
    border : 1px solid rgb(0, 139, 185);
    border-bottom : none;
    -moz-border-radius: 10px;
}
div#content {
  margin-left: auto;
  margin-right: auto;
    width : 80%;
    min-width : 800px;
}
li {
    list-style : url("../img/fl_droite_nb.png");
}
a#bandeau { 
    display : block ; 
    margin : 1em 0 1em 0 ;
    padding : 0 ;
    height : 80px;
    width : 100% ;
    background : url("../img/centre.png") repeat-x;
}

a#bandeau img {
    display : block ;
    border : none;
    margin : 0 -3px ;
    padding : 0 ;
}
a#bandeau img#gauche {
    float : left;
    height : 80px;
}

a#bandeau img#droite {
    float : right;
    height : 80px;
}
div#basdepage {
    clear : both;
    margin-top : 1em;
    padding : 4px 1em 4px 1em;
    color : white;
}
div#basdepage a {
    color : white;
    font-weight : normal;
    padding : 0 1em 0 1em;
}

 
