/**
 * Création originale de Sébastien Lardière
 * modification de Christophe Chauvet
 */

body {
     margin: 0; /* pour éviter les marges */
     text-align: center; /* pour corriger le bug de centrage IE */
}

div#content {
  margin-left: auto;
  margin-right: auto;
    width : 80%;
    min-width : 800px;
}
h1 {
    font-size : 1.8em;
}
h2 {
    font-size : 1.2em;
}
a {
    text-decoration : none;
    font-weight : bolder;
    color : rgb(0, 155, 206);
}
a:hover {
    text-decoration : underline;
}
ul li {
    list-style : url("../img/fl_droite_nb.png");
}
a#bandeau { 
    display : block ; 
    margin : 1em 0 1em 0 ;
    padding : 0 ;
    height : 80px;
    width : 100% ;
    background : url("../img/centre.png") repeat-x;
}

a#bandeau img {
    display : block ;
    border : none;
    margin : 0 -3px ;
    padding : 0 ;
}
a#bandeau img#gauche {
    float : left;
    height : 80px;
}

a#bandeau img#droite {
    float : right;
    height : 80px;
}
div#docs {
    clear : both;
    padding : 1em 0 1em 0;
    /*text-align : left ;*/ 
}
div#docs div {
    background-color : rgb(0, 155, 206);
    border : 1px solid rgb(0, 139, 185);
    border-bottom : none;
    -moz-border-radius: 10px;
}
div#docs div div.listes {
    background-color: rgb(240, 240, 240);
    border : none;
    border-bottom : 1px solid rgb(0, 139, 185);
    padding : 1em 0 1em 0;
    margin : 0 0 0 0;
    text-align : left ;
    -moz-border-radius: 0px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;

}
div#docs div h1, div#docs div h2 {
    margin : 1%;
    color : rgb(250,250,250);
    background-color : rgb(0, 155, 206);
    text-align : left ;
    font-family : 'Arial', sans-serif;
}
div#pg82,div#pg81 {
    margin : 1em;
    width : 45%;
}
div#pg82 {
    float: left;
    margin-left : 10px;
}
div#pg81 {
    float: right;
    margin-right : 10px;
}
div#pg80, div#pg74 {
    margin : 1em;
    width : 45%;
}
div#pg80 {
    float: left;
    margin-left : 10px;
}
div#pg74 {
    float: right;
    margin-right : 10px;
}
div#basdepage {
    clear : both;
    margin-top : 1em;
    padding : 4px 1em 4px 1em;
    color : white;
}
div#basdepage a {
    color : white;
    font-weight : normal;
    padding : 0 1em 0 1em;
}

/* Surcharge du div pg82 */ 
 
div#docs div#pg82 h1 {
     color : #EFEFEF; /* #C8C8FF ; */
     background-color : #9B9B9B; /* #1919B3 ; */
}
 
div#docs div#pg82 {
    background-color : #9B9B9B; /* #1919B3 ; */
    border : 1px solid #6A6A6A; /* #12127D ; */
    border-bottom : none;
    -moz-border-radius: 10px;
}
 
 
div#docs div#pg82 div.listes {
    background-color : #EFEFEF;
    border-bottom : 1px solid #6A6A6A; /* #12127D  ; */
    height: 240px;
}

/* Surcharge du div pg81 */ 
 
div#docs div#pg81 h1 {
     color : #EFEFEF; /* #C8C8FF ; */
     background-color : #9B9B9B; /* #1919B3 ; */
}
 
div#docs div#pg81 {
    background-color : #9B9B9B; /* #1919B3 ; */
    border : 1px solid #6A6A6A; /* #12127D ; */
    border-bottom : none;
    -moz-border-radius: 10px;
}
 
 
div#docs div#pg81 div.listes {
    background-color : #EFEFEF;
    border-bottom : 1px solid #6A6A6A; /* #12127D  ; */
    height: 240px;
}

/* Surcharge du div pg80 */ 

div#docs div#pg80 h2 {
     color : #EFEFEF; /* #C8C8FF ; */
     background-color : #9B9B9B; /* #1919B3 ; */
}
 
div#docs div#pg80 {
    background-color : #9B9B9B; /* #1919B3 ; */
    border : 1px solid #6A6A6A; /* #12127D ; */
    border-bottom : none;
    -moz-border-radius: 10px;
}
 
div#docs div#pg80 div.listes {
    background-color : #EFEFEF;
    border-bottom : 1px solid #6A6A6A; /* #B9B9B9; */
}

/* Surcharge du div pg74 */ 
 
div#docs div#pg74 h2 {
     color : #EFEFEF; /* #C8C8FF ; */
     background-color : #9B9B9B; /* #1919B3 ; */
}
 
div#docs div#pg74 {
    background-color : #9B9B9B; 
    border : 1px solid #6A6A6A; 
    border-bottom : none;
    -moz-border-radius: 10px;
}
 
div#docs div#pg74 div.listes {
    background-color : #EFEFEF;
    border-bottom : 1px solid #6A6A6A; 
} 
 