body { padding: 0; margin: 0; font-size: 11px; font-family: "Bitstream Vera Sans", "Lucida Sans", Geneva, arial, sans-serif; color: #000; background: #dbddec; }

p { padding: .5em 1em 0 0;}
img { border: none;}
h2:target, h3:target, h4:target, dt:target {color: #f60;}
*.hidden { display:none;}
span.accesskey { border-bottom: 2px solid #e80; font-size: 120%; }

a { color: #414ba0; }
a:visited { color: #7e4988; }
a:hover { color: #d30e08; }
a:active, a:focus { color: #6b77b1;}

code, .code li { font-family: "Bitstream Vera Sans Mono", "Andale Mono", "Lucida Console", "Lucida Sans", Arial, sans-serif; color: #333; font-weight: bold; }
ul.code li { display: block; }
blockquote { font-style: italic;}

h1,h2,h3,h4,h5,th,dt { padding: 0.2em 0 0 0; margin: 0; color: #41516b; font-family: "Trebuchet MS", "Bitstream Vera Serif", "Lucida Serif", serif; font-weight: bold; letter-spacing: 0.1em; }

h1 { font-size: 130%; text-align: center;}
h2 { font-size: 120%; margin-bottom: .5em; }
h3 { font-size: 110%;}
h4 { font-size: 100%;font-style: italic; }
h5, h6 { font-size: 100%; font-style: italic; color: #000;}

#content h1 a { font-size: 80%;}
#content h2 { padding: 0 0 0 0.33em; background: #dfdfef; border: 1px solid #dadde4; }
#content h3, #content h4 { padding: 0 0 0 0.66em; background: #ebeef5; border: 1px dotted #d0d0d0;}
#content h3+h4 {border-top-color: #ebeef5; margin-top: -2px; } 

#header h1 { text-align: left; } /* For IE */
#header h1 a { display: block; padding-top: 126px; width: 540px; background-image: url(../images/Craig_Colton-Cookbook-540x130.png); background-repeat: no-repeat; overflow: hidden; height: 0 !important; height /**/:130px; border: 0;}
body.lfs #header h1 a { background-image: url(../images/Craig_Colton-LFS01-540x130.png); }
body.blfs #header h1 a { background-image: url(../images/Craig_Colton-BLFS02-540x130.png); }
body.alfs #header h1 a { background-image: url(../images/Craig_Colton-ALFS02-540x130.png); }
body.hints #header h1 a { background-image: url(../images/Craig_Colton-HINTS02-540x130.png);}

dl { margin: 0; padding: 0;}
dt	{ font-weight: bold; margin: .33em 0 0 1em; padding: 0;}
dd	{ margin: 0 0 1em 3em; padding: 0;}
dd p { margin: .5em 1em 0 0;}
dl.accesskeys dt { float:left; display: inline; width: auto; margin: 0 1em; }
dl.accesskeys dd { clear: right; width: auto; margin: 0; }

body.search dl { background: #edefff; border: 1px solid #cbdced; padding: .33em; margin: .33em;}
body.search dt,
body.hints ul li dt  {float:left; width: 15em; display: inline; margin: 0 1em; }
body.search dd,
body.hints ul li dd  {clear: right; margin: 0;}

select, input { font-size: 100%;}
input:focus, input:active, textarea:focus, textarea:active { background:#fff; color:#000;}

table, td { background: #dfdfef; border: solid 1px #ccc; margin: .5em 0; padding: 0.5em; width: 90%;}
td { background: #ebeef5; width: 20%;}
th { font-size: 110%; text-align: left; padding: 0.2em 0.5em;}

form table th { width: 30%; text-align: right;}
form td { background: #ebeef5; }
form th.button { width: 100%; text-align: center;}

ul, #list.hints #content ul { margin: 0; padding: 0; list-style: none;}
ul li { margin: 0; padding: 0;}
#content ul, #index ul { list-style: square outside; padding: 0 1.5em .5em; }
#content ul ul { list-style: circle outside;}

#header { background: #76789f; }
#header, #header a { color: #bdcbe8;}
#header a:hover { color: #fff;}

#sectionnav { padding: .5em 0 0 1em; height: 2.2em; background: #dbddec;}
#sectionnav li { display: inline; padding: .2em 1em 0 0; }
#sectionnav li a { text-decoration: none; border-bottom: 2px solid #636da2; color: #41516b; font-weight: bold; font-family: "Trebuchet MS", "Bitstream Vera Serif", "Lucida Serif", serif; font-size: 110%; padding: .1em .2em; }
#sectionnav li a:visited { color: #555; }
#sectionnav li a:hover { color: #effefb; background: #858fc4; border-bottom: 2px solid #a7afd6;}

#search { position: absolute;	top: 4em; left: 550px; }
#search input { background: #bcc5e4; color: #000; vertical-align: middle; padding: 0; margin: 0 0 5px 0; }
#search i\nput { border: 1px solid #868ebc;} /* Workaround for Konqueror, see http://centricle.com/ref/css/filters/ */
#search input:hover { background: #dbdffa; }
#search input:focus, 
#search textarea:focus, 
#search textarea:active, 
#search input:active { background:#fefff1; color:#573337; border: 1px solid #a7afd6; }

#styleselect { margin: 0 0 0 1em; padding: .5em 0;}
#styleselect li { display: inline; padding: 0 .5em;}

#container { margin: 0; padding: 0; position: relative; width: 100%; }

#content, 
#index { padding: 1em; margin: 1em 1em 0 1em; background: #fbfbfb; color: #1d2240; border: 1px solid #8892c3; line-height: 1.7; }
#content { width: 70%; float: left; clear: both; min-width: 30em; min-height: 70em; }
.root #content { min-height: 30em;}

#footer { width: 70%; float: left; clear: both;	margin: 1em; }
#footer ul { padding: .5em 0; font-size: 90%; color: #666; }
#footer ul li { display: inline; padding: 0 .3em; }
body.root #footer, 
body.search #footer { margin: 1em;}

.pagenav ul { margin: .5em 0 1em 0;	border-top: 2px solid #cdcdcd;}
.pagenav ul li { display: inline; padding: 0 1em 0 0; }
body.search .pagenav p { padding: 0 0 .2em 1em; margin: 0 0 .5em 0; text-align: right; border-top: 2px solid #cdcdcd;}

#generalnav, 
#projectnav { margin: 0 1em .5em 1em; }

.root #generalnav,
.faq #generalnav, 
#projectnav { padding: 1em 0 0 0; }

#generalnav ul li a, 
#projectnav ul li a { display: block; padding: 2px .5em 0; margin: .5em 0; text-decoration: none; }
* html #generalnav ul li a, * html #projectnav ul li a { height: 0;} /* for IE */

#generalnav li a.currentpage,
#projectnav li a.currentpage { color: #fff; background: #636da2; border-right: 2em solid #858fc4;}

#generalnav li a:hover, 
#projectnav li a:hover { color: #fff; background: #858fc4; border-right: 2em solid #a7afe6; }

body.search ul.results li { border: 1px solid #cde; background: #eeefff; padding: .2em; margin: .2em }
body.hints ul.results { margin: 0; padding: 0;}

#projectnews, 
#generalnews { float: left; clear: right; width: 49%; padding: 0; }
#projectnews { margin: 0 1% 0 0; }
#generalnews { margin: 0 0 0 1%; }

#changelog { clear: both; width: 100%;}
#changelog ul { padding: 0 0 .5em 0; list-style: none; }
#changelog ul ul { list-style: circle inside; padding: 0 2em;}

#projectnews p, #generalnews p { text-align: justify;}
