/* Standard markup */

body {
	font:	10pt "Bitstream Vera Sans", Lucida, arial, verdana, helvetica, sans-serif;
	background: #fff;
	color: #000;
	padding: 0;
	margin: 0;
}

img {
	border: 0;
}

a, a:visited, a:hover, a:active  {
	color: #104e8b;
	text-decoration: underline;
}

h1,h2,h3,h4,h5 {
	padding: 0.2cm 0 0 0;
	margin: 0;
	color:  #30a;
	font-family: "Trebuchet MS", "Times New Roman", "Bitstream Vera Serif", "Times", serif;
}

h1 { font-size: 160%; font-family: "Bitstream Vera Sans Mono", "Lucida Console", "Lucida Sans Unicode", "Lucida Sans", "Andale Mono", "Arial", sans-serif;}
h2 { font-size: 130%}
h3 { font-size: 116%}
h4 { font-size: 104%; font-style: italic; padding: 0.2em 0 0 0.5cm}
h5, h6 { font-size: 104%; font-style: italic; padding: 0 0 0 0.5cm}

p { padding-left: .5cm; }

address {
	margin: 1cm;
	padding: 1cm;
	border: 1px solid #ddd;
	background: #eee;
}

table, td {
	background: #ddd;
	border: solid 1px #ccc;
	margin: 1cm;
}

td {
	background: #eee;
}

th {
	text-align: left;
}

dt	{
	font-weight: bold;
	margin: 0 0 0 2cm;
}

dd	{
	margin: 0 0 1cm 4cm;
}

code {
	font-family: "Bitstream Vera Sans Mono", "Lucida Console", Lucida, Arial, sans-serif;
	color: #333;
}

/* Custom classes */

.code li {
	list-style-type: none;
	font-family: "Bitstream Vera Sans Mono", "Lucida Console", Lucida, Arial, sans-serif;
	color: #333;
}

.hidden { display:none;}

/* Positional markup */

#language,
#search,
#sectionnav,
#projectnav,
#generalnav,
#pagenav  { display:none;}

#header {height: auto;}

#container {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

#content, #index, #rootcontent	{
	position: relative;
	color: #000;
	line-height: 140%;
	padding: 0;
	margin: 0;
}

#footer {
	text-align: left;
	font-size: 8pt;
	color: #777;
}

#footer li {
	list-style-type: none;
	display: inline;
}

#footer a {
	display: none;
}
